@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model JoinTheNetworkViewModel
@{
    ViewData["Title"] = "How you want to be involved";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountId)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l govuk-!-margin-bottom-0">Create your ambassador profile</span>
                        <h1 class="govuk-fieldset__heading">
                            How you want to be involved
                        </h1>
                    </legend>
                    <div esfa-validation-marker-for="@Model.ReasonToJoin" class="govuk-form-group">
                        <h2 class="govuk-heading-m">
                            Why do you want to join the network?
                        </h2>
                        <p class="govuk-body">
                            We’ll show your answers on your profile so others can approach you.
                        </p>
                        <div id="reasonsToJoin-hint" class="govuk-hint">
                            Select all that apply
                        </div>
                        <span asp-validation-for="@Model.ReasonToJoin" class="govuk-error-message"></span>

                        <div id="ReasonToJoin" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            @{
                                for (int i = 0; i < Model.ReasonToJoin!.Count; i++)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" asp-for=@Model.ReasonToJoin[i].IsSelected id="@Model.ReasonToJoin[i].Id">
                                        <label class="govuk-label govuk-checkboxes__label" for="@Model.ReasonToJoin[i].Id">
                                            @Model.ReasonToJoin[i].Description
                                        </label>
                                        <input type="hidden" asp-for="@Model.ReasonToJoin[i].Id" />
                                        <input type="hidden" asp-for="@Model.ReasonToJoin[i].Ordering" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div esfa-validation-marker-for="@Model.Support" class="govuk-form-group">
                        <h2 class="govuk-heading-m">
                            What support would you need from the network?
                        </h2>
                        <p>
                            We’ll show your answers on your profile so others can offer you help.
                        </p>
                        <div id="reasonsToJoin-hint" class="govuk-hint">
                            Select all that apply
                        </div>
                        <span asp-validation-for="@Model.Support" class="govuk-error-message"></span>

                        <div id="Support" class="govuk-checkboxes" data-module="govuk-checkboxes">
                            @{
                                for (int i = 0; i < Model.Support!.Count; i++)
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" type="checkbox" asp-for=@Model.Support[i].IsSelected id="@Model.Support[i].Id">
                                        <label class="govuk-label govuk-checkboxes__label" for="@Model.Support[i].Id">
                                            @Model.Support[i].Description
                                        </label>
                                        <input type="hidden" asp-for="@Model.Support[i].Id" />
                                        <input type="hidden" asp-for="@Model.Support[i].Ordering" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button id="continue-button" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" asp-page-handler="Submit">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>