@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@model NotificationsLocationsViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountId)
            <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l govuk-!-margin-bottom-0">Emails about upcoming events</span>
                    <h1 class="govuk-heading-l">
                        @Model.Title
                    </h1>
                </legend>
                
                <p class="govuk-body">
                    @Model.IntroText
                </p>
                
                <p class="govuk-body">
                    You can add multiple locations. For example, if you have offices in more than one city.
                </p>
                
                @if (Model.SubmittedLocations.Any())
                {
                    <ul class="govuk-list govuk-list--bullet">
                    @foreach (var location in Model.SubmittedLocations)
                    {
                        <li>@location</li>
                    }
                    </ul>
                }

                <div class="govuk-form-group">
                    <label class="govuk-body" for="location">
                        City, town or postcode
                    </label>
                    <input class="govuk-input location-search-autocomplete" id="location" name="location" type="text" value="@Model.Location">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-body" for="Radius">
                        Within this distance
                    </label>
                    <br/>

                    <select class="govuk-select" asp-for="Radius" asp-items="Model.RadiusOptions"></select>
                </div>

                <div class="govuk-form-group">
                    <input class="govuk-button" value="Add location" type="submit"/>
                </div>

            </fieldset>
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>