@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@model NotificationsLocationsViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountId)
            @Html.HiddenFor(m => m.HasSubmittedLocations)
            <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l govuk-!-margin-bottom-0">Emails about upcoming events</span>
                    <h1 class="govuk-heading-l">
                        @Model.Title
                    </h1>
                </legend>
                
                <p class="govuk-body">
                    @Model.IntroText
                </p>
                
                <p class="govuk-body">
                    You can add multiple locations. For example, if you have offices in more than one city.
                </p>
                
                @if (Model.SubmittedLocations.Any())
                {
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var location in Model.SubmittedLocations)
                        {
                            <li>@location</li>
                        }
                    </ul>
                }
                
                <div esfa-validation-marker-for="Location">
                    <h2 class="govuk-heading-m">Add a location</h2>
                    
                    <p class="govuk-body">
                        <label class="govuk-body" for="Location">
                            City, town or postcode
                            
                        </label>
                    </p>

                    <div class="govuk-form-group">
                        
                        <span asp-validation-for="@Model.Location" class="govuk-error-message"></span>

                        @if (!string.IsNullOrWhiteSpace(Model.UnrecognisedLocation))
                        {
                            <ul class="govuk-list govuk-list--bullet">
                                <li>We do not recognise @Model.UnrecognisedLocation.</li>
                                <li>Check the location you've entered or enter a different location that's nearby</li>
                            </ul>
                        }
                        <input class="govuk-input location-search-autocomplete" asp-for="Location" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-body" for="Radius">
                            Within this distance
                        </label>
                        <br/>

                        <select class="govuk-select" asp-for="Radius" asp-items="Model.RadiusOptions"></select>
                    </div>

                </div>

                <div class="govuk-form-group">
                    <button id="add" type="submit" name="SubmitButton" value="@NotificationsLocationsSubmitModel.SubmitButtonOption.Add" class="govuk-button govuk-button--secondary">Add location</button>
                </div>
                
                <div class="govuk-button-group">
                    
                    <button id="continue" type="submit" name="SubmitButton" value="@NotificationsLocationsSubmitModel.SubmitButtonOption.Continue" class="govuk-button-fix">Continue</button>
                </div>
                
            </fieldset>
            
        </form>
        
    </div>
</div>