@using SFA.DAS.Employer.Aan.Web.Models.AmbassadorProfile;

@model InterestInTheNetworkViewModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Interest in the network</h2>
@*         <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> your interest in the network</span>
                </a>
            </li>
        </ul> *@
        <a href="@Model.AreaOfInterestChangeUrl" class="govuk-summary-card__actions govuk-link">Change</a>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reasons for joining
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var reasonToJoinActivity in Model.ReasonToJoinActivities)
                        {
                            <li>@reasonToJoinActivity</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <strong class="@Model.InterestInTheNetworkDisplayClass">@Model.InterestInTheNetworkDisplayed</strong>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Support from the network
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var supportActivity in Model.SupportActivities)
                        {
                            <li>@supportActivity</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <strong class="@Model.InterestInTheNetworkDisplayClass">@Model.InterestInTheNetworkDisplayed</strong>
                </dd>
            </div>
        </dl>
    </div>
</div>