@model NetworkHubViewModel
@{
    ViewData["Title"] = "Your network hub";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your network hub</h1>
        <p>
            Welcome to your Apprenticeship Ambassador Network hub. Thank you for supporting the network in your role as an ambassador, where we can help you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>build your professional network</li>
            <li>champion apprenticeships in your region and across England</li>
        </ul>
        <ul class="govuk-list app-icon-list">
            @*<span>@Model.EventsHubUrl</span>*@
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.EventsHubUrl" class="govuk-link govuk-link--no-visited-state">Events hub</a></h2>
                <p>Manage your upcoming events and give feedback about events you have attended.</p>
                <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-calendar" /></svg>
            </li>
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.NetworkDirectoryUrl" class="govuk-link govuk-link--no-visited-state">Network directory</a></h2>
                <p>Connect and network with other ambassadors across England.</p>
                <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-handshake" /></svg>
            </li>
            <li>
                <h2 class="govuk-heading-m"><a href="@Model.ProfileSettingsUrl" class="govuk-link govuk-link--no-visited-state">Profile settings</a></h2>
                <p>Update your profile and contact preferences including what information network members can see about you.</p>
                <svg class="app-icon-list__icon"><use href="/img/sprite.svg#icon-settings" /></svg>
            </li>
            <li>
                <h2 class="govuk-heading-m">
                    <a href="@Model.ContactUsUrl"
                       class="govuk-link govuk-link--no-visited-state">Contact us</a>
                </h2>
                <p>If you have a query or question, get in touch with the network team</p>
                <svg class="app-icon-list__icon">
                    <use href="/img/sprite.svg#message-lines" />
                </svg>
            </li>
        </ul>
    </div>
</div>
